<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753588309269-4bi8qu9lvcc61aaca6g1mv9h49f0qcgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753588309269-4bi8qu9lvcc61aaca6g1mv9h49f0qcgf</string>
	<key>API_KEY</key>
	<string>AIzaSyDnuRuxjjv3rWKIjuZkziu69EclR2rTIHo</string>
	<key>GCM_SENDER_ID</key>
	<string>753588309269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dartboard</string>
	<key>PROJECT_ID</key>
	<string>dart-counter-6bf03</string>
	<key>STORAGE_BUCKET</key>
	<string>dart-counter-6bf03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753588309269:ios:d04a4fab7b924acc886d1c</string>
</dict>
</plist>